<launch>
    <arg name="gui" default="true"/>
    <param name="robot_description" textfile="$(find ilqr_single_leg)/urdf/single_leg_jumping.urdf" />
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mymodel -param robot_description"  />
    <rosparam file="$(find ilqr_single_leg)/config/single_leg_jumping.yaml" command="load"/>
    
    <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false"
          output="screen" ns="/single_leg" args="joint_state_controller
          thigh_controller calf_controller"/>  

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <remap from="/joint_states" to="/single_leg/joint_states"/>
    </node>

</launch>